{
	email {$TLS_EMAIL}
}

{$PUBLIC_HOST} {
	encode zstd gzip
	reverse_proxy frontend:8080

	header {
		-Server
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
	}

	log {
		output stdout
		format console
	}
}
